@import '../../../sass/settings.sass';

.header {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__login, &__try {
        margin: 1rem;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        @media screen and (min-width: 500px) {
            margin: 1.5rem;
        }
        @media screen and (min-width: 950px) {
            margin: 2rem;
        }
        @media screen and (min-width: 1300px) {
            margin-right: 5rem;
        }
    }
    &__try {
        border: 2px solid #fff;
        padding: .5rem;
    }
}