@import "../../../sass/settings.scss";

.headerContainer {
  box-shadow: $box-shadow;
  padding-top: 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
  background-clip: padding-box;
  background-color: $white-background-color; 

  &__hamburgerNav {
    @include d-flex-row;
    gap: 50vw;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &__title {
      &__h2 {
        font-size: 2rem;
        @include aliceTextStarting;
      }
    }
  }

  &__navSection {
    display: none;
    z-index: 300;
    width: 100vw;
    position: fixed;
    background-color: $white-background-color;
    color: $dark-text-color;
    top: 0;
    height: 100vh;
    overflow: scroll;

    &__closeMenu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 3rem 3rem 0 0;
      cursor: pointer;
    }

    &__items {
      @include d-flex-column;
      justify-content: flex-start;
      margin-top: 4rem;
      font-size: 2.5rem;
      gap: 3rem;
      text-align: center;
      color: $dark-text-color;

      &__log {
        @include d-flex-column;

        &__item {
          @include d-flex-row;
          gap: 1rem;

          &__a {
            font-weight: 700;
            //   margin-top: 2rem;
            font-size: 2.5rem;
            display: block;
          }
        }
      }
    }
  }
}

#svg {
  margin-bottom: 1rem;
}

@include colorAnimation;