@import '../../sass/settings.scss';

.technoContainer {
    width: 90vw;
    margin: 10rem auto;
    @include d-flex-column;
    gap: 5rem;
    background-color: $dark-background-color;

    @media screen and (min-width: $tablet) {
        @include d-flex-row;
    }

    @media screen and (min-width: 1200px) {
        gap: 20%;
    }

    &__span {
        @include aliceTextStarting;
    }

    &__content {
        @include d-flex-column;
        gap: 2rem;

        @media screen and (min-width: $tablet) {
            width: 40%;
        }
        @media screen and (min-width: 1200px){
            width: 30rem;
        }

        &__header {
            @include header-small;
        }

        &__p {
            @include article;
            padding: 0 1rem;

            @media screen and (min-width: $tablet) {
                padding: 0;
            }
        }

        &__button {

            @media screen and (min-width: $tablet) {
                width: 15rem;
            }

            @media screen and (min-width: $desktop) {
                margin-top: 3rem;
            }

            &__btn {
                @include button;
                padding: .4rem;
            }

            &__btn:hover {
                @include buttonHover;
            }
        }
    }

    &__image {
        width: 100%;


        @media screen and (min-width: $tablet) {
            width: 40%;
        }

        @media screen and (min-width: $desktop) {
            width: 40%;
            margin-top: 10%;
        }

        @media screen and (min-width: 1200px){
            width: 30rem;
        }

        &__imgWrapper {
            @include d-flex-row;
            gap: 3rem;

            &__img {
                width: 15%;
            }

            &__imgM {
                width: 80%;
            }

            &__imgN {
                width: 30%;
            }
        }
    }
}

#react {
    animation: reactSpin 7s infinite linear;
}

@include colorAnimation;


@keyframes reactSpin {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}