@import '../../sass/settings.scss';

.homeContainer {
    @include d-flex-column;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    gap: 3rem;

    @media screen and (min-width: 768px) {
        @include d-flex-row;
        align-items: flex-start;
        margin-top: 10rem;
        gap: 5rem;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 5rem;
    }

    @media screen and (min-width: 1700px) {
        margin-top: 7rem;
    }

    &__titleSection {
        height: 40%;
        @include d-flex-column;
        gap: 2rem;

        @media screen and (min-width: 1200px) {
            gap: 5rem;
        }
        @media screen and (min-width: 1700px) {
            gap: 3rem;
        }

        &__text {
            @include d-flex-column;

            @media screen and (min-width: 768px) {
                width: 60%;
            }

            @media screen and (min-width: 1200px) {
                width: 70%;
                padding-top: 5rem;
            }

            &__h1 {
                font-size: 4rem;
                color: $dark-text-color;

                @media screen and (min-width: 560px) {
                    font-size: 5rem;
                }

                @media screen and (min-width: 1700px) {
                    font-size: 6rem;
                }
            }

            &__h2 {
                color: $dark-text-color;

                @media screen and (min-width: 768px) {
                    text-align: center;
                    font-size: 1.7rem;
                    width: 30vw;
                }
            }
        }

        &__button {
            width: 10rem;
            height: 3rem;

            @media screen and (min-width: 560px) {
                width: 13rem;
                height: 3.5rem;
            }

            &__btn {
                border-radius: .7rem;
                background-color: transparent;
                height: 100%;
                width: 100%;
                border: none;
                font-size: 1.5rem;
                box-shadow: 1px 5px 1px 4px rgba(244, 239, 255, 0.9);
                will-change: box-shadow, transform;
                transition: box-shadow, transform .7s;

                @media screen and (min-width: 560px) {
                    font-size: 1.7rem;
                }
            }

            &__btn:hover {
                cursor: pointer;
                transform: translateY(-1vh);
                box-shadow: 1px 5px 10px 4px rgba(167, 142, 221, 0.3);
            }
        }
    }

    &__imageSection {
        width: 20rem;

        @media screen and (min-width: 768px) {
            width: 25rem;
        }

        @media screen and (min-width: 1200px) {
            width: 35rem;
        }

        @media screen and (min-width: 1700px) {
            width: 40rem;
        }

        &__imgWrapper__img {
            width: 100%;
        }
    }
}