@import '../../sass/settings.scss';

.useContainer {
    width: 90vw;
    margin: 5rem auto;
    @include d-flex-column;

    @media screen and (min-width: 768px) {
        @include d-flex-row;
        gap: 3rem;
    }

    @media screen and (min-width: 1200px) {
        width: 70rem;
    }

    &__header {
        @include d-flex-column;

        @media screen and (min-width: 768px) {
            width: 55%;
        }

        @media screen and (min-width: 1200px) {
            padding: 0 5rem;
        }

        &__h2 {
            @include header-small;
            margin-bottom: 1rem;

            @media screen and (min-width: 768px) {
                font-size: 3rem;
                width: 120%;
            }

            @media screen and (min-width: 1200px) {
                font-size: 3.5rem;
            }
        }

        &__p {
            @include article;
        }

        &__img {
            width: 12rem;
            transform: rotate(20deg);
        }

    }

    &__questionsPart {
        @include d-flex-column;

        &__wrapper {
            @include d-flex-column;
            gap: 3rem;

            &__question {
                @include d-flex-column;

                &__p {
                    @include article;
                    text-align: left;
                    padding-left: 1rem;
                }
            }

            &__button {
                @include buttonWrapper;
                width: 13rem;

                @media screen and (min-width: 560px) {
                    width: 14rem;
                    height: 4rem;
                }

                &__btn {
                    @include button;
                }

                &__btn:hover {
                    @include buttonHover;
                }
            }
        }
    }

    &__svg {
        transform: rotate(180deg);
        margin-right: .5rem;
    }

    &__aliceSpan {
        @include aliceTextStarting;
    }

    &__boldSpan {
        font-weight: bold;
        font-size: 1.35rem;
        margin-bottom: .5rem;
        @media screen and (min-width: 1200px) {
            font-size: 1.55rem;
        }
    }
}

@include colorAnimation;