@import '../../sass/settings.scss';

.useContainer {
    width: 90vw;
    margin: 0 auto;
    @include d-flex-column;

    &__header {
        @include d-flex-column;

        &__h2 {
            @include header-small;
            margin-bottom: 1rem;

            @media screen and (min-width: 768px) {
                font-size: 3rem;
                width: 120%;
            }

            @media screen and (min-width: 1200px) {
                font-size: 3.5rem;
            }
        }

        &__p {
            @include article;
        }

        &__img {
            width: 12rem;
            transform: rotate(20deg);
        }

    }

    &__questionsPart {
        @include d-flex-column;

        &__wrapper {
            @include d-flex-column;
            gap: 3rem;
            &__question {
                @include d-flex-column;
                &__p {
                    @include article;
                    text-align: left;
                }
            }
        }
    }

    &__aliceSpan {
        @include aliceTextStarting;
    }

    &__boldSpan {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: .5rem; 
    }
}

@include colorAnimation;