@import "../../../sass/settings.scss";

.loginContainer__wrapper__loginFormContainer__header {
  @include header-small;
  &__alice {
    @include aliceTextStarting;
  }
}

.button {
  @include buttonWrapper;

  &__btn {
    @include button;
    width: 120%;
  }

  &__btn_small {
    @include button;
    margin-left: 12%;
    width: 70%;
    height: 80%;
  }

  &__btn:hover,
  &__btn_small:hover {
    @include buttonHover;
  }
}

.errorInfo {
  margin-top: 1rem;
  font-size: 1rem;
  color: $red-color;
}

.loginContainer__wrapper__loginFormContainer__form {
  height: 100%;
  width: 90%;
  @include d-flex-column;
  gap: 2rem;
  margin: 0 auto;
  &__inputsWrapper {
    @include d-flex-column;
    width: 100%;
    margin-left: 15%;
    &__inputWrapper {
      margin-top: 1rem;
      width: 100%;
      padding: 0.5rem;
    }
    &__label {
      font-size: 1.3rem;
      width: 100%;
    }
    &__input {
      width: 90%;
      padding: 2% 2% 2% 5%;
      font-size: 120%;
      border-radius: 0.3rem;
      border: 2px solid #e4ccff;
    }
  }
  &__buttonWrapper {
    width: 2rem;
  }
  &__other {
    @include d-flex-column;
    &__content {
      cursor: pointer;
      text-decoration: underline;
      color: #0275d8;
    }
  }
}

.sucess {
  color: green;
  font-size: 3rem;
}

.content {
  @include article;
  font-size: 1rem;
  padding: 0 1rem;
}

.unvalid {
  border: 2px solid $red-color;
  animation: unvalidAnimation 0.3s linear;
  &__message {
    font-size: 1.2rem;
    color: red;
    margin: .5rem;
  }
}

@keyframes unvalidAnimation {
  0% {
    transform: translateX(0.5vw);
  }
  50% {
    transform: translateX(-0.5vw);
  }
  75% {
    transform: translateX(0.5vw);
  }
  100% {
    transform: translateX(0);
  }
}
