@import '../../sass/settings.scss';

.aboutContainer {
    margin-bottom: 5rem;
    padding-top: 10rem;
    @include d-flex-column;
    gap: 5rem;
    border: 2px solid #000;
    background-color: $dark-background-color;
    &__span {
        color: rgba(167, 142, 221);
        animation: colorAnimate 3s infinite ease-in-out;
    }
    &__header {
        padding: 0 3rem;
        @include d-flex-column;
        gap: 2rem;
        &__title__h2 {
            @include header-small;
        }
        &__title__button {
            @include buttonWrapper;
            width: 13rem;
            @media screen and (min-width: 560px) {
                width: 14rem;
                height: 4rem;
            }
            &__btn {
                @include button;
                @media screen and (min-width: 560px) {
                    
                }
            }
            &__btn:hover {
                @include buttonHover;
            }
        }
        &__content {
            padding: 0 2rem;
            text-align: center;
            @include d-flex-column;
            gap: 2rem;
            &__text__p {
                font-size: 1.3rem;
                opacity: .8;
            }
        }
    }
}

@keyframes colorAnimate {
    0% {
        color: rgba(167, 142, 221);
    }
    20% {
        color: rgba(193, 160, 230);
    }
    40% {
        color: rgba(167, 142, 221);
    }
    60% {
        color: rgba(130, 107, 177);
    }
    80% {
        color: rgba(200, 180, 230);
    }
    100% {
        color: rgba(167, 142, 221);
    }
}
