//variables

//font colors
$dark-text-color: #2c2f32;
$white-text-color: #fefefe;

//background colors
$dark-background-color: #fdfdfe;
$white-background-color: #fefefe;

//box-shadow
$box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);

//mixins

@mixin d-flex-row() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin d-flex-column() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//breakpoints

$breakpoints: (
  mobile: 560px,
  tablet: 768px,
  big-tablets: 900px,
  desktop: 1200px,
);