@import '../../sass/settings.scss';

.homeContainer {
    @include d-flex-column;
    width: 90vw;
    margin: 5rem auto;
    gap: 3rem;
    scroll-margin: 10rem;


    @media screen and (min-width: 768px) {
        @include d-flex-row;
        align-items: flex-start;
        margin-top: 10rem;
        gap: 5rem;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 5rem;
    }

    @media screen and (min-width: 1700px) {
        margin-top: 7rem;
    }

    &__titleSection {
        height: 40%;
        @include d-flex-column;
        gap: 2rem;

        @media screen and (min-width: 1200px) {
            gap: 5rem;
        }

        @media screen and (min-width: 1700px) {
            gap: 3rem;
        }

        &__text {
            @include d-flex-column;

            @media screen and (min-width: 768px) {
                width: 60%;
            }

            @media screen and (min-width: 1200px) {
                width: 70%;
                padding-top: 5rem;
            }

            &__h1 {
                font-size: 4rem;
                @include aliceTextStarting;

                @media screen and (min-width: 560px) {
                    font-size: 5rem;
                }

                @media screen and (min-width: 1700px) {
                    font-size: 6rem;
                }
            }

            &__h2 {
                color: $dark-text-color;

                @media screen and (min-width: 768px) {
                    text-align: center;
                    font-size: 1.7rem;
                    width: 30vw;
                }
            }
        }

        &__button {
            @include buttonWrapper;

            &__btn {
                @include button;
            }

            &__btn:hover {
                @include buttonHover;
            }
        }
    }

    &__imageSection {
        width: 20rem;

        @media screen and (min-width: 768px) {
            width: 25rem;
        }

        @media screen and (min-width: 1200px) {
            width: 35rem;
        }

        @media screen and (min-width: 1700px) {
            width: 40rem;
        }

        &__imgWrapper__img {
            width: 100%;
        }
    }
}

@include colorAnimation;